[Desktop Entry]
Version=13.0
Type=Application
Terminal=false
Exec=/home/zzz1/intelijIdea/bin/idea.sh
Name=IntelliJ idea
Comment=Java IDE
Icon=/home/zzz1/intelijIdea/bin/idea.svg

